* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Arial", sans-serif;
}

html {
  font-size: 62.5%;
}
a{
  text-decoration: none;
  cursor: pointer;
}
header{
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  color: black;
}

.navegador{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 30px 0px;
  font-size: .9rem;
}
.navegador a{
  text-decoration: none;
  color: inherit;
}
.navegador .avatar img{
  width: 2.3rem;
  height: 2.3rem;
  object-fit: cover;
  border-radius: 50%;
}
.logo{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 15px;
}
.container-search{
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .bar-search{
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .bar-search:hover{
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}
main .bar-search input{
  width: 450px;
  height: 40px;
  border: none;
  outline: none;
}
.lupa{
  background-image: url("https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_search_48px-512.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  opacity: 0.45;
}

.microfono{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
.buttons{
  display: flex;
  justify-content: center;
  margin: 12px;
}

.buttons button{
  color: #5F6368;
  margin: 11px 4px;;
  border: 1px solid;
  border-radius: 4px;
  padding: 0 10px;
  border: none;
  height: 25px;
  font-size: 1rem;
}

footer{
  width: 100%;
  height: 4em;
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  align-items: center;
  font-size: 1em;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer ul{
  margin: 10px;
  list-style: none;
  display: flex;
  padding-left: 0;
}
footer .footer-left{
  justify-self: left;
}
footer .footer-right{
  justify-self: right;
}
footer ul li a{
  margin: 10px;
  color: #5f6368;
}